// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// General rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: purple;
    color: #fff;
}

// HomePage
.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;

    form {
        display: flex;
        flex-direction: column;

        input {
            margin-bottom: 10px;

            &.btn.btn-success {
                max-width: 100px;
                margin: 5px auto;
            }
        }
    }

    hr {
        width: 40%;
    }

    ol {

        li {
            color: #000;
            font-size: 20px;

            span {
                color: lightslategrey;
            }
        }
    }

    span.new-post {
        margin-bottom: 10px;
        font-size: 20px;
    }
}

// Page Create
.container-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

// Header - Footer
header, footer {
    text-align: center;
    font-size: 35px;
}